
<!-- Page not found (404) error page-->

<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Generic IOT Platform</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
      body{
        padding: 5%;
      }
    </style>

    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  </head>
  <body>
    <center><h1 style="font-size:50px">404 Not Found</h1></center>
    <div class="container not-found-error clearfix" style="text-align: center;">
    	<i class="fa fa-5x fa-exclamation-triangle"></i>
    	<p> The page you're looking for could not be found! </p>
    	<p> We looked everywhere, even on the Moon</p><i class="fa fa-3x fa-moon-o"></i><p>But we couldn't find the thing!</p>
    </div> <!-- end container -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  </body>
</html>
