<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/header %>
	<script type="text/javascript" src="/colors.js"></script>
	</head>
<body>

    <div id="wrapper">

        <!-- Navigation -->
				<% include partials/nav %>
				<!--Starting profile page-->
				<% include partials/dash %>

        </div>
		<% include partials/footer %>
</body>

</html>
