<!-- Page to be displayed after sign up-->
<!DOCTYPE HTML>
<html>
<head>
 <title>Verify your account</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
</head>
<body>
  <div class="head">
  <center><h1 class="css2"> Welcome onboard!<h1></center>
  </br>
  </br>
  </br>
    <h2 class="mycss"> To verify your account and keep your data safe,we sent an email to your registered email account.</h2>
    <h2 class= "mycss"> To complete your account setup click on the link given.</h2>
    <h3 class="mycss"> <a href="/login">Log In to your account</a></h3>
  </div>
  </body>
</html>
